@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font:'Roboto', sans-serif;
$primcolor: #000;
$seccolor: #A1A1A1;
$thirdcolor: #DEDEDE;
$width: 100%;
$w_twothird: 70%;
$w_onethird:28%